<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campuscat">

    <application
        android:allowBackup="true"
        android:label="CampusCat"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusCat">

        <!-- 앱 시작을 MiniGameActivity로 변경 -->
        <activity
            android:name=".MiniGameActivity"
            android:exported="true"> <!-- ✅ 이 줄 추가 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- MainActivity는 LAUNCHER에서 제거 -->
        <activity android:name=".MainActivity" />

    </application>
</manifest>
