<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campuscat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusCat">

        <!-- 메인 액티비티에서 LAUNCHER 제거 -->
        <activity android:name=".MainActivity" />
        <activity android:name=".PlayWithActivity" />
        <activity android:name=".InventoryActivity" />



        <!-- 앱 시작 시 표시될 CatDetailActivity -->
        <activity
            android:name=".CatDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
